$mobile-width: 600px;
$tablet-width: 1024px;
// color
$colors: (
  "white": #fff,
  "black": #000,
  "primary": "",
);
//
$header-height: 170px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;
