.BlogPageSingle{
    &__img{
        border-radius: 6px;
        max-width: 870px;
        height: 453px;
        width: 100%;
    }
    &__text{
        margin-top: 25px;
        height: 270px;
        max-width: 860px;
        width: 100%;
        &__name{
            font-family: 'Josefin Sans';
            font-size: 30px;
            line-height: 35px;
            color: #151875;
            padding: 30px 0 20px 0;
        }
        &__nd{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #8A8FB9;
            padding: 0 0 20px 0;
        }
        &__rmore{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #151875;
        }
    }
}
@media screen and (max-width: 495px) {
    .BlogPageSingle{
        margin: auto;
        &__img{
            max-width: 300px;
            height: 250px;
            width: 100%;
        }
        &__text{
            max-width: 300px;
            height: 250px;
            width: 100%;
            &__name{
                font-size: 15px;
            }
            &__nd{
                font-size: 12px;
            }
            &__rmore{
                font-weight: 600;
                font-size: 13px;
            }
        }
    }
}
@media screen and(min-width: 495px) and (max-width: 820px) {
    .BlogPageSingle{
        margin: auto;
        &__img{
            max-width: 500px;
            height: 275px;
            width: 100%;
            margin: auto;
            padding-right: 20px;
            justify-content: center;
        }
        &__text{
            height: 350px;
            max-width: 500px;
            width: 100%;
            margin: auto;
            padding-right: 20px;
            &__name{
                font-size: 20px;
            }
            &__nd{
                font-size: 15px;
            }
            &__rmore{
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
}
