.BlogPageSingle{
    margin: auto;
    &__img{
        border-radius: 6px;
        max-width: 870px;
        height: 453px;
        width: 100%;
        @include mobile {
            max-width: 350px;
            height: 250px;
            width: 100%;
        }
        @include tablet-mini {
            margin: auto;
            max-width: 600px;
            height: 350px;
            width: 100%;
        }
    }
    &__text{
        margin-top: 25px;
        height: 270px;
        max-width: 860px;
        width: 100%;
        margin: auto;
        @include mobile {
            max-width: 300px;
            height: 250px;
            width: 100%
        }
        @include tablet-mini {
            height: 350px;
            max-width: 500px;
            width: 100%;
            padding-right: 20px;
        }
        &__name{
            font-family: 'Josefin Sans';
            font-size: 30px;
            line-height: 35px;
            color: #151875;
            padding: 30px 0 20px 0;
            @include mobile {
                font-size: 15px;
            }
            @include tablet-mini{
                font-size: 20px;
            }
        }
        &__nd{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #8A8FB9;
            padding: 0 0 20px 0;
            @include mobile {
                font-size: 12px;
            }
            @include tablet-mini {
                font-size: 15px;
            }
        }
        &__rmore{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #151875;
            @include mobile {
                font-weight: 600;
                font-size: 13px;
            }
            @include tablet-mini {
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
}

