.contentcontact {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: center;
  @include mobile {
    max-width: 98%;
  }
  @include tablet {
    max-width: 90%;
    margin: 0 auto;
  }
  &__top {
    display: flex;
    margin: 120px 0px;
    @include mobile {
      display: flex;
      flex-direction: column;
      max-width: 95%;
      margin: 0 auto;
    }

    @include tablet {
      max-width: 100%;
      gap:60px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__left {
      display: flex;
      flex-direction: column;
      @include mobile {
        max-width: 100%;
      }
      @include tablet {
        max-width: 50%;
      }
      &__title {
        width: 522px;
        height: 44px;
        font-family: "Josefin Sans";
        font-size: 36px;
        line-height: 48px;
        font-weight: 700;
        /* or 133% */

        /* Text */

        color: #151875;
        @include mobile {
          max-width: 100%;
          height: auto;
        }
        @include tablet {
          max-width: 100%;
          height: auto;
        }
      }
      &__description {
        width: 550px;
        height: 49px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #8a8fb9;
        @include mobile {
          max-width: 100%;
          height: auto;
        } 
        @include tablet {
          max-width: 100%;
          height: auto;
        }
      }
      &__vector {
        display: flex;
        align-items: left;
        margin-top: 70px;
        gap: 14px;
      }
    }
    &__right {
      margin-left: 117px;
      @include mobile {
        max-width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
      }
      @include tablet {
        max-width: 43%;
        margin-left: 0;
      }
      &__title {
        width: 522px;
        height: 44px;
        font-family: "Josefin Sans";
        font-size: 36px;
        line-height: 48px;
        color: #151875;
        font-weight: 700;
        @include mobile {
          max-width: 100%;
        }
        @include tablet {
          max-width: 100%;
        }
      }
      &__info {
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        margin-top: 26px;
        gap: 30px;
        @include mobile {
          max-width: 100%;
          display: flex;
          flex-direction: column;
        }
        @include tablet {
          width: 100%;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: column;
        }
        p {
          font-family: "Lato";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          color: #8a8fb9;
        }
        span {
          font-family: "Lato";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          color: #8a8fb9;
        }
        &__1 {
          display: flex;
          gap: 15px;
        }
        &__2 {
          display: flex;
          gap: 15px;
        }
        &__3 {
          display: flex;
          gap: 15px;
        }
        &__4 {
          display: flex;
          gap: 15px;
        }
      }
    }
  }
  &__bot {
    display: flex;
    margin-bottom: 248px;
    @include mobile {
      flex-direction: column-reverse;
      max-width: 100%;
    }
    @include tablet{
      max-width: 100%;
      flex-direction: column-reverse;
    }
    &__left {
      display: flex;
      flex-wrap: wrap;
      max-width: 550px;
      @include mobile {
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
      }
      @include tablet {
        row-gap: 20px;
      }
      &__title {
        width: 522px;
        height: 44px;
        font-family: "Josefin Sans";
        font-size: 36px;
        line-height: 48px;
        color: #151875;
        font-weight: 700;
        @include mobile {
          max-width: 100%;
          height: auto;
        }
      }
      &__description {
        width: 550px;
        height: 49px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #8a8fb9;
        @include mobile {
          max-width: 100%;
          height: auto;
        }
      }
      .input__name {
        width: 255px;
        height: 44px;
        border: 1px solid rgba(164, 182, 200, 0.7);
        border-radius: 3px;
      }
      .input__email {
        width: 255px;
        height: 45px;
        border: 1px solid rgba(164, 182, 200, 0.7);
        border-radius: 3px;
        margin-left: 24px;
        @include mobile{
          margin-left: 0px  ;
        }
      }
      .input__subject {
        width: 534px;
        height: 45px;
        @include mobile {
          max-width: 100%;
        }
      }
      .input__mess {
        width: 534px;
        height: 166px;
        @include mobile {
          max-width: 100%;
        }
      }
      button {
        width: 157px;
        height: 44px;
        font-family: "Josefin Sans";
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
        background: #fb2e86;
        border-radius: 3px;
        border: none;
        outline: none;
      }
    }
    &__right {
      margin-left: 56px;
      @include mobile {
        margin-bottom: 0;
        .contentcontact__bot__right__image {
              img{
                max-width: 100%;
              height: 100%;
              }
            }
        .contentcontact__bot__left .input__email {
              margin-left: 0;
            }
      }
      @include tablet {
        margin-left: 0;
      }
    }
  }
}
// @media screen and (max-width:600px) {
//       .contentcontact{
//     max-width: 98%;
//     &__top{
//       display: flex;
//       flex-direction: column;
//       max-width: 95%;
//       margin: 0 auto;
//       &__left{
//         max-width: 100%;
//         &__title{
//           max-width: 100%;
//           height: auto;
//         }
//         &__description{
//           max-width: 100%;
//           height: auto;
//         }
//       }
//       &__right{
//         max-width: 100%;
//         margin-left: 0;
//         display: flex;
//         flex-direction: column;
//         &__title{
//           max-width: 100%;
//         }
//         &__info{
//           max-width: 100%;
//           display: flex;
//           flex-direction: column;
//         }
//       }
//     }
//     &__bot{
//       display: flex;
//       flex-direction: column-reverse;
//       max-width: 100%;
//       &__left{
//         max-width: 95%;
//         margin: 0 auto;
//         display: flex;
//         flex-direction: column;
//         row-gap: 10px;
//         &__title{
//           max-width: 100%;
//           height: auto;
//         }
//         &__description{
//           max-width: 100%;
//           height: auto;
//         }
//         input{
//           max-width: 100%;
//         }
//         textarea{
//           max-width: 100%;
//         }
        
//       }
//       &__right{
//         margin-left: 0;
//       }
//     }
//   }
//   .contentcontact__bot__left .input__email {
//     margin-left: 0;
//   }
//   .contentcontact__bot__right__image {
//     img{
//       max-width: 100%;
//     height: 100%;
//     }
//   }
// }
@media screen and (min-width:601px) and (max-width:1420px){
  // .contentcontact{
  //   max-width: 95%;
  //   margin: 0 auto;
  //   &__top{
  //     max-width: 100%;
  //     gap:30px;
  //     &__left{
  //       max-width: 50%;
  //       &__title{
  //         max-width: 100%;
  //         height: auto;
  //       }
  //       &__description{
  //         max-width: 100%;
  //         height: auto;
  //       }
  //     }
  //     &__right{
  //       max-width: 50%;
  //       margin-left: 0;
   
  //       &__title{
  //         max-width: 100%;
  //       }
  //       &__info{
  //         width: 100%;
  //         display: flex;
  //         flex-wrap: nowrap;
  //         flex-direction: column;
  //       }
  //     }
  //   }
  //   &__bot{
  //     max-width: 100%;
  //     flex-direction: column-reverse;
  //     &__right{
  //       margin-left: 0;
  //     }
  //     &__left{
  //       row-gap: 20px;
  //     }
      
  //   }
  // }
  .contentcontact__bot__right__image {
    img{
      max-width: 100%;
      height: 100%;
    }
  }
}