.content__discount {
  margin-top: 128px;
  @include mobile {
    margin-top: 70px;
    height: 421px;
    width: 100%;
  }
  @include tablet {
    margin-top: 70px;
    height: 490px;
    width: 100%;
  }
  @include pc {
    margin-top: 70px;
    height: 550px;
    width: 100%;
  }
  &__item {
    margin-bottom: 33px;
    h1 {
      color: #151875;
      font-family: "Josefin Sans";
      font-size: 42px;
      text-align: center;
      font-weight: bold;
    }
  }

  &__product {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1214px;
    margin: 0 auto;
    &__menu {
      position: absolute;
      display: flex;
      top: 0px;
      a {
        color: #fb2e86;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        margin-right: 30px;
        @include mobile {
          font-size: 15px;
          margin-right: 7px;
        }
        @include tablet {
          font-size: 15px;
          margin-right: 7px;
        }
      }
      li a {
        color: #151875;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        margin-right: 26px;
        text-decoration: none;
        @include mobile {
          font-size: 15px;
          margin-right: 8px;
        }
        @include tablet {
          font-size: 15px;
          margin-right: 8px;
        }
      }
      li {
        list-style-type: disc;
        color: #fb4997;
      }
    }
    &__discountoff {
      @include mobile {
        width: 50%;
        position: absolute;
        top: 40px;
        left: 4px;
        left: 15px;
      }
      @include tablet {
        width: 43%;
        position: absolute;
        top: 85px;
        left: 10%;
        left: 40px;
      }
      @include pc {
        width: 40%;
        position: absolute;
        top: 100px;
        left: 10%;
      }
      line-height: 2;
      h1 {
        color: #151875;
        font-family: "Josefin Sans";
        font-size: 35px;
        font-weight: bold;
        @include mobile {
          font-size: 15px;
        }
        @include tablet {
          font-size: 30px;
        }
      }
      p.p1 {
        color: #fb2e86;
        font-family: "Josefin Sans";
        font-size: 21px;
        @include mobile {
          font-size: 12px;
        }
        @include tablet {
          font-size: 13px;
        }
      }
      p {
        color: #b7bacb;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        @include mobile {
          font-size: 13px;
        }
        @include tablet {
          font-size: 11px;
        }
        @include pc {
          font-size: 16px;
        }
      }
      button {
        width: 200px;
        height: 57px;
        background: #fb2e86;
        border-radius: 2px;
        color: #ffffff;
        font-family: "Josefin Sans";
        font-size: 17px;
        line-height: 20px;
        border: none;
        outline: none;
        @include mobile {
          width: 85px;
          height: 35px;
          font-size: 13px;
          margin-top: 10%;
        }
        @include tablet {
          width: 100px;
          height: 40px;
          font-size: 13px;
          margin-top: 10%;
        }
        @include pc {
          width: 160px;
          height: 50px;
          margin-top: 30px;
        }
      }
      &__item {
        display: flex;
        gap: 48px;
        @include mobile {
          display: none;
        }
        &__simple {
          display: flex;
          gap: 20px;
          @include mobile {
            font-size: 10px;
          }
          ul {
            padding-left: 26px;
          }
          @include tablet {
            display: none;
          }
        }
      }
    }
    &__tortuga {
      @include mobile {
        width: 50%;
      }
      @include tablet {
        width: 50%;
      }
      @include pc {
        width: 55%;
      }
      img {
        right: 0;
        @include mobile {
          width: 57%;
          position: absolute;
          top: 30px;
          right: 0;
        }
        @include tablet {
          width: 60%;
          position: absolute;
          top: 10px;
          right: 0;
        }
        @include pc {
          width: 55%;
          position: absolute;
          top: 10px;
          right: 0;
        }
      }
    }
  }
}
