.errorContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  button {
    width: 165px;
    height: 44px;
    font-family: "Josefin Sans";
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 160% */

    color: #ffffff;
    background: #fb2e86;
    border-radius: 3px;
    border: none;
    outline: none;
  }
}
