  .contentfaq {
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: left;
  margin-bottom: 92px;
  margin-top: 23px;
  @include mobile {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width:100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
  }
  @include tablet {
    max-width: 95%;
    margin: 0 auto;
    column-gap: 5%;
  }
  &__infomations {
    display: flex;
    flex-direction: column;
    @include mobile {
      // max-width: 100%;
    }
    @include tablet {
      max-width: 50%;
    }
    h1 {
      font-family: "Josefin Sans";
      font-size: 36px;
      line-height: 30px;
      text-align: center;
      color: #1d3178;
      font-weight: bold;
      @include mobile{
        margin-top: 0;
      }
      @include tablet{
        margin-top: 0;
      }
    }
    &__all {
      display: flex;
      flex-direction: column;
      margin-top: 64px;
      gap:64px;
      @include mobile{
        display: flex;
        gap: 5%;
      }
      &__infomation {
        display: flex;
        flex-direction: column;
        gap:15px;
        &__title {
          width: 395px;
          height: 30px;
          font-family: "Josefin Sans";
          font-size: 17px;
          line-height: 30px;
          font-weight: bold;
          /* identical to box height, or 176% */
          color: #1d3178;
          @include mobile {
            max-width: 100%;
            height: auto;
          }
          @include tablet {
            max-width: 100%;
            height: auto;
          }
        }
        &__description {
          width: 499px;
          height: 45px;
          font-family: "Josefin Sans";
          font-size: 16px;
          line-height: 30px;
          /* or 188% */
          color: #a1abcc;
          @include mobile {
            max-width: 100%;
            height: auto;
          }
          @include tablet {
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  &__question {
    width: 566px;
    height: 738px;
    background: #f8f8fd;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 106px;
    @include mobile {
      margin: 0 auto;
      max-width: 98%;
      textarea{
        max-width: 90%;
        margin-left: 0px ;
      }
    }
    // @include tablet-port {
    //   margin: 0 auto;
    //   max-width: 50%;
    //   textarea{
    //     max-width: 90%;
    //     margin-left: 0px ;
    //   }
    // }
    h1 {
      position: absolute;
      top: 66px;
      font-family: "Josefin Sans";
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      width: 175px;
      margin-left: 46px;
      font-weight: bold;
      color: #1d3178;
    }
    input {
      margin-left: 46px;
      width: 445px;
      background: #ffffff;
      border: 1px solid #cdcedc;
      border-radius: 5px;
      //   vertical-align: top;
      @include mobile {
        max-width: 90%;
        margin: 0 auto;
      } 
      // @include tablet-port {
      //   max-width: 90%;
      //   margin: 0 auto;
      // }
    }
    input[type="text"]::placeholder {
      text-align: left;
    }
    #input__name {
      position: absolute;
      height: 50px;
      top: 30%;
    }
    #input__subject {
      position: absolute;
      height: 50px;
      top: 40%;
    }
    #input__mess {
      position: absolute;
      height: 197px;
      top: 50%;
      margin-left: 46px;
      width: 445px;
      background: #ffffff;
      border: 1px solid #cdcedc;
      border-radius: 5px;
      @include mobile {
        margin-left: 0;
      }
      // @include tablet-port {
      //   margin-left: 0;
      // }
    }
    button {
      width: 156px;
      height: 48px;
      font-family: "Josefin Sans";
      font-size: 16px;
      line-height: 30px;
      margin-left: 46px;
      /* identical to box height, or 188% */
      color: #ffffff;
      background: #fb2e86;
      border-radius: 3px;
      border: none;
      outline: none;
      position: absolute;
      bottom: 10%;
    }
  }
}
// @media screen and (max-width:600px) {
//   .contentfaq{
//     display: flex;
//     flex-direction: column;
//     row-gap: 10px;
//     max-width: 98%;
//     margin: 0 auto;
//     &__infomations{
//       h1{
//         margin-top: 0;
//       }
//       max-width: 98%;
//       margin: 0 auto;
//       &__all{
//         &__infomation{
//           &__title{
//             max-width: 100%;
//             height: auto;
//           }
//           &__description{
//             max-width: 100%;
//             height: auto;
//           }
//         }
//       }
//     }
//     &__question{
//       margin: 0 auto;
//       max-width: 98%;
//       input{
//         max-width: 90%;
//         margin: 0 auto;
//       }
//       textarea{
//         max-width: 90%;
//         margin-left: 0px ;
//       }
//     }
//   }
//   .contentfaq__question #input__mess {
//     margin-left: 0;
//   }
// }
// @media screen and (min-width:601px) and (max-width:1024px){
//   .contentfaq{
//     max-width: 95%;
//     margin: 0 auto;
//     column-gap: 5%;
//     &__infomations{
//       max-width: 50%;
//       h1{
//         margin-top: 0;
//       }
//     }
//     &__question{
//       margin: 0 auto;
//       max-width: 50%;
//       input{
//         max-width: 90%;
//         margin: 0 auto;
//       }
//       textarea{
//         max-width: 90%;
//         margin-left: 0px ;
//       }
//     }
//   }
//   .contentfaq__question #input__mess {
//     margin-left: 0;
//   }
//   .contentfaq__infomations__all__infomation__title {
//     max-width: 100%;
//     height: auto;
//   }
//   .contentfaq__infomations__all__infomation__description {
//     max-width: 100%;
//     height: auto;
//   }
// }