.content__featured {
  &__products {
    margin-top: 129px;
    margin-bottom: 48px;
    font-family: "Josefin Sans";
    font-size: 42px;
    color: #1a0b5b;
    text-align: center;
    p {
      margin-bottom: 48px;
    }
  }
  &__slide {
    display: grid;
    grid-template-columns: 1080px;
    gap: 29px;
    height: 361px;
    text-align: center;
    justify-content: center;
    margin-bottom: 53px;

    p.code {
      color: #151875;
      font: "Josefin Sans";
      font-size: 14px;
      margin-bottom: 0px;
    }
    p.price {
      color: #151875;
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 0px;
    }

    &__chairone {
      &__icon {
        display: none;
        &__shop {
          position: absolute;
          gap: 26px;
          margin-top: 11px;
          display: flex;
          z-index: 10;
        }
        img.img1 {
          background: #eeeffb;
        }
      }
      &__img {
        width: 100%;
        max-width: 270px;
        height: 236px;
        background: #f6f7fb;
        position: relative;
        img {
          margin-top: 24px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }

        &__button {
          display: none;
          position: absolute;
          bottom: 9px;
          left: 50%;
          transform: translateX(-50%);
          button {
            width: 94px;
            height: 29px;
            background: #08d15f;
            border-radius: 2px;
            color: #ffffff;
            font-family: "Josefin Sans";
            font-size: 12px;
            border: none;
            outline: none;
          }
        }
      }
      &__price {
        line-height: 1.6;
        height: 125px;
        background: #ffffff;
        h2 {
          color: #fb2e86;
          font-family: "Lato", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
        }

        img {
          margin-right: 5px;
        }
        img.img4 {
          width: 100%;
          padding-top: 20px;
        }
        &__img {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px 0;
        }
      }
    }
    #featured__pc {
      display: grid;
      grid-template-columns: 270px 270px 270px 270px;
      gap: 28px;
      align-items: center;
    }
  }
  .divide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
}
#featured__mobile {
  display: block;
}
#featured__ipad {
  display: none;
}
.slick-track {
  display: flex;
  gap: 15px;
}
@media only screen and(max-width:495px) {
  #featured__mobile {
    display: block;
  }
  .content__featured__products {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .content__featured__slide {
    display: grid;
    grid-template-columns: 90%;
    height: auto;
    #featured__pc {
      display: none;
    }
    &__chairone {
      &__img {
        height: 180px;
        img {
          width: 120px;
          height: 120px;
          margin-top: 2rem;
        }
      }
      &__price {
        line-height: 1.3;
        height: 80px;
        h2 {
          font-size: 15px;
        }
        p.code {
          font-size: 12px;
        }
        p.price {
          font-size: 12px;
        }
      }
    }
  }
  .content__featured .divide {
    display: none;
  }
}
@media only screen and(min-width:495px) and(max-width:767px) {
  #featured__mobile {
    display: block;
  }

  .content__featured__products {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .content__featured__slide {
    display: grid;
    grid-template-columns: 90%;
    height: auto;
    column-gap: 4%;
    #featured__ipad {
      display: none;
    }
    &__chairone {
      &__img {
        height: 180px;
        img {
          width: 120px;
          height: 120px;
          margin-top: 2rem;
        }
      }
      &__price {
        line-height: 1.3;
        height: 80px;
        h2 {
          font-size: 15px;
        }
        p.code {
          font-size: 12px;
        }
        p.price {
          font-size: 12px;
        }
      }
    }
  }
  .content__featured .divide {
    display: none;
  }
}
.content__featured__slide__chairone:hover {
  .content__featured__slide__chairone__price {
    background: #2f1ac4;
    p.price {
      color: #ffffff;
    }
    p.code {
      color: #ffffff;
    }
    h2 {
      color: #ffffff;
    }
  }
  .content__featured__slide__chairone__icon {
    display: block;
  }
  .content__featured__slide__chairone__img__button {
    display: block;
  }
}
@media only screen and(min-width:768px) and(max-width:1275px) {
  #featured__mobile {
    display: none;
  }
  .content__featured {
    #featured__ipad {
      display: block;
    }
    &__slide {
      grid-template-columns: 90%;
      gap: 1%;
      &__chairone {
        &__img {
          width: 100%;
        }
      }
      &__chairtwo {
        &__img {
          width: 100%;
          max-width: 100%;
        }
      }
      &__chairthree {
        &__img {
          width: 100%;
          max-width: 100%;
        }
      }
      &__chairfour {
        &__img {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
