.content__leatestblg {
  .slick-track {
    // width: 100%;
    // width: auto !important;
  }
  .slick-slide {
    width: 360px;
  }
  margin-bottom: 135px;
  &__blog {
    margin-bottom: 80px;
    h1 {
      text-align: center;
      color: #151875;
      font-family: "Josefin Sans";
      font-size: 42px;
    }
  }
  &__top {
    display: grid;
    grid-template-columns: 1080px;
    align-items: center;
    justify-content: center;
    &__esssential {
      width: 100%;
      font-family: "Josefin Sans";
      font-size: 18px;
      color: #151875;
      box-shadow: 0px 8px 40px rgb(49 32 138 / 5%);
      border-radius: 5px;
      p {
        color: #72718f;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
      }
      h4 {
        font-family: "Josefin Sans";
        font-size: 18px;
        color: #151875;
        line-height: 2.5;
      }
      a {
        line-height: 2.5;
        text-decoration-line: underline;
      }
      &__saber {
        display: flex;
        gap: 30px;
        &__ali {
          display: flex;
          gap: 7px;
          justify-content: center;
          align-items: center;
          img {
            width: 11.33px;
            height: 11.33px;
          }
        }
        &__date {
          justify-content: center;
          align-items: center;
          display: flex;
          gap: 7px;
        }
      }
      &__date {
        display: flex;
        gap: 7px;
      }
    }
  }
}

.content__leatestblg__top__esssential:hover {
  h4 {
    color: #fb2e86;
  }
  a {
    color: #fb2e86;
  }
}
.content__leatestblg__top__trend:hover {
  h4 {
    color: #fb2e86;
  }
  a {
    color: #fb2e86;
  }
}
@media only screen and(max-width:495px) {
  .content__leatestblg__blog {
    margin-bottom: 70px;
  }
  .content__leatestblg__top {
    display: grid;
    grid-template-columns: 95%;
    &__esssential {
      img.img1 {
        width: 100%;
      }
      p {
        font-size: 14px;
      }
      a {
        font-size: 15px;
      }
    }
    &__trend {
      img.img1 {
        width: 100%;
      }
      p {
        font-size: 14px;
      }
      a {
        font-size: 15px;
      }
    }
  }
}
@media only screen and(min-width:495px) and(max-width:767px) {
  .content__leatestblg__blog {
    margin-bottom: 70px;
  }
  .content__leatestblg__top {
    display: grid;
    grid-template-columns: 85%;
    &__esssential {
      img.img1 {
        width: 100%;
      }
      p {
        font-size: 14px;
      }
      a {
        font-size: 15px;
      }
    }
    &__trend {
      img.img1 {
        width: 100%;
      }
      p {
        font-size: 14px;
      }
      a {
        font-size: 15px;
      }
    }
  }
}
@media only screen and(min-width:768px) and(max-width:1275px) {
  .content__leatestblg__top {
    grid-template-columns: 95%;
    grid-column-gap: 2%;
  }

  .content__leatestblg__top__esssential {
    img.img1 {
      width: 100%;
    }
    p {
      font-size: 14px;
    }
    h4 {
      font-size: 16px;
    }
    a {
      font-size: 15px;
    }
  }
  .content__leatestblg__top__trend {
    p {
      font-size: 14px;
    }
    img.img1 {
      width: 100%;
    }
    h4 {
      font-size: 16px;
    }
    a {
      font-size: 15px;
    }
  }
}
