.navbar {
  width: 100%;
  height: 78px;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  &__logo {
    display: flex;
    align-items: center;
    margin-right: 80px;
    a {
      text-decoration: none;
      text-decoration: none;
      align-items: center;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      font-size: 34px;
      color: #0d0e43;
      font: "Josefin Sans";
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    &__selected {
      font-weight: 400;
      font-size: 16px;
      font: "Lato";
      color: #fb2e86;
      text-decoration: none;
      margin-right: 25px;
    }
    a {
      text-decoration: none;
      margin-right: 35px;
      display: flex;
      align-items: center;
    }
  }
  &__search {
    display: flex;
    align-items: center;
    margin-left: 160px;
    width: 100%;
    max-width: 317px;
    box-sizing: border-box;
    &__input {
      display: flex;
      flex: 1;
      align-items: center;
      border: 2px solid #e7e6ef;
      input {
        border: none;
        width: 100%;
        outline: none;
        padding: 0 12px;
      }
      &__icon {
        display: flex;
        background: #fb2e86;
        width: 100%;
        max-width: 51px;
        height: 40px;
        align-items: center;
        justify-content: center;
        i.fal.fa-search {
          color: #f1f0ff;
          height: 20px;
          width: 20px;
          align-items: center;
        }
      }
    }
  }
}
@media only screen and(max-width:495px) {
  .navbar {
    display: none;
  }
}
@media only screen and(max-width:767px) {
  .navbar {
    display: none;
  }
}
@media only screen and(min-width:768px) and(max-width:1275px) {
  .navbar {
    &__search {
      display: none;
    }
  }
}
