.content__newslater {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 125px 0 96px;
  @include mobile {
    margin: 65px 0 75px;
  }
  @include tablet {
    margin: 65px 0 75px;
  }
  img {
    width: 100%;
    max-width: 1920px;
    height: 462px;
    object-fit: cover;
    @include mobile {
      height: 340px;
    }
    @include tablet {
      height: 340px;
    }
  }
  &__subscribe {
    position: absolute;
    text-align: center;
    a {
        display: inline-block;
        padding: 20px 50px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #FB2E86;
        border-radius: 2px;
        outline: none;
        font-size: 20px;
    }
    a:hover{
      background-color: #ff187c;
    }
    h1 {
      color: #151875;
      font-family: "Josefin Sans";
      font-size: 35px;
      width: 574px;
      line-height: 1.6;
      @include mobile {
        font-size: 24px;
        width: 290px;
      }
      @include tablet {
        font-size: 24px;
        width: 290px;
      }
    }
  }
}
