.RegisterAccountShip{
    max-width: 1920px;
    width: 100%;
    margin: auto;
    padding-top: 20px;
    &__vp{
        margin-left: 16.66667%;
        @include tablet {
            margin-left: 6.66667%;
        }
        @include pc {
            margin-left: 20%;
        }
        &__n{
            font-family: 'Josefin Sans';
            font-size: 24px;
            line-height: 28px;
            color: #1D3178;
            font-weight: 700;
        }
        &__a{
            margin-top: 10px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: #1D3178;
        }
    }
    &__ship{
        margin: auto;
        max-width: 1300px;
        margin-top: 40px;
        justify-content: center;
        display: grid;
        gap: 10px;
        grid-template-columns: 4fr 2fr;
        grid-template-areas: "items adjustments";
        @include mobile {
            display: block;
            margin-left: 10px;
            margin-right: 10px;
        }
        @include  tablet {
            display: block;
        }
        @include pc {
            display: block;
        }
        &__right{
            height: 920px;
            max-width: 400px;
            @include mobile {
                max-width: 100%;
                margin-left: 0x;
                height: 500px;
            }
            @include tablet {
                max-width: 100%;
                height: 500px;
            }
            @include pc {
                max-width: 100%;
                margin-left: 0x;
                height: 500px;
                margin-top: 400px;
            }
            &__checkout{
                @include mobile {
                    margin-right: 3px;
                    width: auto;
                }
                @include tablet {
                    margin-right: 3px;
                    width: auto;
                }
                @include pc {
                    margin-right: 3px;
                    width: auto;
                }
            }
            &__product{
                @include mobile {
                    margin-top: 40px;
                }
                @include tablet {
                    margin-top: 40px;
                }
                @include pc {
                    margin-top: 40px;
                }
            }
            &__cartTT{
                @include pc {
                    justify-content: left;
                }
            }
        }
        &__left {
            @include mobile {
                max-width: 100%;
                margin-left: 0;
            }
            @include tablet {
                max-width: 100%;
                margin-left: 0;
            }
            @include pc {
                max-width: 100%;
                margin-left: 0x;
                height: 500px;
            }
        }
    }
}


// @media only screen and (min-width:801px) and (max-width:1024px) {
//     .RegisterAccountShip{
//         &__ship{
//             display: block;
//             &__left{
//                 max-width: 100%;
//                 margin-left: 0;
//             }
//             &__right{
//                 max-width: 100%;
//                 margin-left: 0x;
//                 height: 500px;
//                 &__checkout{
//                     margin-right: 3px;
//                     width: auto;
//                 }
//                 &__product{
//                     margin-top: 40px;
//                 }
//                 &__cartTT{
//                     justify-content: left;
//                 }
//             }
//         }
//     }    
// } 
// @media screen and (max-width:1024px) {
//     .RegisterAccountShip{
//         width: 100%;
//         margin: auto;
//         &__ship{
//             display: block;
//             &__left{
//                 max-width: 100%;
//                 margin-left: 0;
//             }
//             &__right{
//                 max-width: 100%;
//                 margin-left: 0x;
//                 height: 500px;
//                 &__checkout{
//                     margin-right: 3px;
//                     width: auto;
//                 }
//                 &__product{
//                     margin-top: 40px;
//                 }
//             }
//         }
//     } 
// }
    
