.RegisterAccountContact{
    width: 100%;
    margin: auto;
    background-color: rgba(248, 248, 253, 1);
    height: 1000px;
    @include mobile {
        padding-right: 10px;
        height: 915px;
    }
    @include tablet {
        padding-right: 10px;
        height: 915px;  
    }
    @include pc {
        max-width: 1000px;
    }
    // @include tablet-port {
    //     padding-right: 10px;
    //     height: 915px;  
    // }
    &__contact{
        @include pc {
            max-width: 1000px;
            margin: auto;
        }
        &__cnp{
            padding-top: 90px;
            display: flex;
            @include mobile {
                padding-top: 40px;
                display: block;
            }
            @include tablet {
                padding-top: 40px;
            }
            // @include tablet-port {
            //     padding-top: 40px;
            // }
        &__cof{
            margin-left: 40px;
            font-family: 'Josefin Sans';
            font-size: 18px;
            line-height: 21px;
            color: #1D3178;
            font-weight: 700;
        }
        &__alr{
            margin-left: 400px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.01em;
            color: #C1C8E1;
            @include mobile {
                margin-left: 40px;
            }
            @include tablet {
                margin-left: auto;
            }
            // @include tablet-port {
            //     margin-left: auto;
            // }
            }
        &__login{
            margin-left: 5px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.01em;
            color: #C1C8E1;
            @include mobile {
                margin-left: 40px;
            }
            @include tablet {
                margin-right: 50px;
            }
            // @include tablet-port {
            //     margin-right: 50px;
            //     }
            }
        }
        &__coi{
            width: 85%;
            margin-left: 40px;
        }
        &__cheb{
            display: flex;
            margin-left: 40px;
            margin-top: 30px;
            &__k{
                padding-left:10px;
                color: rgba(138, 145, 171, 1);
                margin-top: 2px;
            }
        }
    }
    &__shipping{
        @include pc {
            max-width: 1000px;
            margin: auto;
        }
        &__n{
            font-family: 'Josefin Sans';
            font-size: 18px;
            line-height: 21px;
            color: #1D3178;
            font-weight: 700;
            margin-left: 40px;
            margin-top: 100px;
            @include mobile {
                margin-top: 40px;
            }
            @include tablet {
                margin-top: 40px;
            }
            // @include tablet-port {
            //     margin-top: 40px;
            // }
        }
        &__flname{
            display: grid;
            gap: 0px;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "items adjustments";
            margin-top: 20px;
            @include mobile {
                display: block;
            }
            @include tablet {
                display: block;
            }
            @include pc {
                gap: 95px;
            }
            // @include tablet-port {
            //     isplay: block;
            // }
            &__fname{
                margin-left: 40px;
                width: 340px;
                @include mobile {
                    width: auto;
                }
                @include tablet {
                    width: 85%;
                }
                // @include tablet-port {
                //     width: 85%;
                // }
            }
            &__lname{
                width: 340px;
                @include mobile {
                    margin-left: 40px;
                    width: auto;
                }
                @include tablet {
                    margin-left: 40px;
                    width: 85%;
                }
                // @include tablet-port {
                //     width: 85%;
                //     margin-left: -40px;
                // }
            }
        }
        &__address{
            width: 85%;
            margin-left: 40px;
            margin-top: 20px;
            @include tablet {
                width: 85%;
            }
        }
        &__appaetnentment{
            width: 85%;
            margin-left: 40px;
            margin-top: 20px;
            @include tablet{
                width: 85%;
            }
        }
        &__city{
            width: 85%;
            margin-left: 40px;
            margin-top: 20px;
            @include tablet {
                width: 85%;
            }
        }
        &__bp{
            display: grid;
            gap: 0px;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "items adjustments";
            margin-top: 20px;
            @include mobile {
                display: block;
            }
            @include tablet{
                display: block;
            }
            @include pc {
                gap: 95px;
            }
            &__ba{
                width: 340px;
                margin-left: 40px;
                @include mobile {
                    width: auto;
                    margin-top: 20px;
                }
                @include tablet {
                    width: 85%;
                    margin-top: 20px;
                }
            }
            &__pc{
                width: 340px;
                @include mobile {
                    margin-left: 40px;
                    width: auto;
                    margin-top: 20px;
                }
                @include tablet {
                    margin-left: 40px;
                    width: 85%;
                    margin-top: 20px;
                }
            }
        }
    }
    &__btn{
        background: #FB2E86;
        border-radius: 2px;
        border: #FB2E86;
        width: 182px;
        height: 44px;
        color: white;
        font-weight: 500;
        margin-left: 40px;
        margin-top: 130px;
        @include mobile {
            margin-top: 50px;  
        }
        @include tablet{
            margin-top: 50px;
        }
    }
}

// @media only screen and (max-width: 495px) {
//     .RegisterAccountContact{
//         padding-right: 10px;
//         height: 915px;
//         &__contact{
//             &__cnp{
//                 padding-top: 40px;
//                 display: block;
//                 &__alr{
//                     margin-left: 40px;
//                  }
//                 &__login{
//                     margin-left: 40px;
//                 }
//             }
//         }
//         &__shipping{
//             &__n{
//                 margin-top: 40px;
//             }
//             &__flname{
//                 display: block;
//                 &__fname{
//                     width: auto;
//                 }
//                 &__lname{
//                     margin-left: 40px;
//                     width: auto;
//                 }
//             }
//             &__bp{
//                 display: block;
//                 &__ba{
//                     width: auto;
//                     margin-top: 20px;
//                 }
//                 &__pc{
//                     margin-left: 40px;
//                     width: auto;
//                     margin-top: 20px;
//                 }
//             }
//         }
//         &__btn{
//             margin-top: 50px;   
//         }
//     }
// }
// @media only screen and (min-width: 495px) and (max-width: 799px) {
//     .RegisterAccountContact{
//         padding-right: 10px;
//         height: 915px;  
//         &__contact{
//             &__cnp{
//                 padding-top: 40px;
//                 &__alr{
//                     margin-left: auto;
//                  }
//                 &__login{
//                     margin-right: 50px;
//                 }
//             }
//         }
//         &__shipping{
//             &__n{
//                 margin-top: 40px;
//             }
//             &__flname{
//                 display: block;
//                 &__fname{
//                     width: 85%;
//                 }
//                 &__lname{
//                     margin-left: 40px;
//                     width: 85%;
//                 }
//             }
//             &__address{
//                 width: 85%;
//             }
//             &__city{
//                 width: 85%;
//             }
//             &__appaetnentment{
//                 width: 85%;
//             }
//             &__bp{
//                 display: block;
//                 &__ba{
//                     width: 85%;
//                     margin-top: 20px;
//                 }
//                 &__pc{
//                     margin-left: 40px;
//                     width: 85%;
//                     margin-top: 20px;
//                 }
//             }
//         }
//         &__btn{
//             margin-top: 50px;   
//         }
//     }
// }
// @media screen  and (min-width: 799px) and (max-width: 1023px){
//     .RegisterAccountContact{
//         padding-right: 10px;
//         height: 915px;  
//         &__contact{
//             &__cnp{
//                 padding-top: 40px;
//                 &__alr{
//                     margin-left: auto;
//                  }
//                 &__login{
//                     margin-right: 50px;
//                 }
//             }
//         }
//         &__shipping{
//             &__n{
//                 margin-top: 40px;
//             }
//             &__flname{
//                 display: block;
//                 &__fname{
//                     width: 85%;
//                 }
//                 &__lname{
//                     margin-left: 40px;
//                     width: 85%;
//                 }
//             }
//             &__address{
//                 width: 85%;
//             }
//             &__city{
//                 width: 85%;
//             }
//             &__appaetnentment{
//                 width: 85%;
//             }
//             &__bp{
//                 display: block;
//                 &__ba{
//                     width: 85%;
//                     margin-top: 20px;
//                 }
//                 &__pc{
//                     margin-left: 40px;
//                     width: 85%;
//                     margin-top: 20px;
//                 }
//             }
//         }
//         &__btn{
//             margin-top: 50px;   
//         }
//     }
// }   