.RegisterAccountShip{
    max-width: 1920px;
    width: 100%;
    margin: auto;
    padding-top: 20px;
    &__vp{
        margin-left: 16.66667%;
        &__n{
            font-family: 'Josefin Sans';
            font-size: 24px;
            line-height: 28px;
            color: #1D3178;
            font-weight: 700;
        }
        &__a{
            margin-top: 10px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: #1D3178;
        }
    }
    &__ship{
        margin: auto;
        max-width: 1530px;
        margin-top: 40px;
        justify-content: center;
        display: grid;
        gap: 100px;
        grid-template-columns: 4fr 2fr;
        grid-template-areas: "items adjustments";
        &__right{
            height: 920px;
        }
    }
}

@media only screen and (max-width: 495px) {
    .RegisterAccountShip{
        &__ship{
            display: block;
            margin-left: 10px;
            margin-right: 10px;
            &__left{
                max-width: 100%;
                margin-left: 0;
            }
            &__right{
                max-width: 100%;
                margin-left: 0x;
                height: 500px;
                &__checkout{
                    margin-right: 3px;
                    width: auto;
                }
                &__product{
                    margin-top: 40px;
                }
            }
        }
    }
}
@media screen and (min-width: 495px) and (max-width: 800px) {
    .RegisterAccountShip{
        &__ship{
            display: block;
            &__left{
                max-width: 100%;
                margin-left: 0;
            }
            &__right{
                max-width: 100%;
                margin-left: 0x;
                height: 500px;
                &__checkout{
                    margin-right: 3px;
                    width: auto;
                }
                &__product{
                    margin-top: 40px;
                }
            }
        }
    }
}
@media only screen and (min-width:801px) and (max-width:1024px) {
    .RegisterAccountShip{
        &__ship{
            display: block;
            &__left{
                max-width: 100%;
                margin-left: 0;
            }
            &__right{
                max-width: 100%;
                margin-left: 0x;
                height: 500px;
                &__checkout{
                    margin-right: 3px;
                    width: auto;
                }
                &__product{
                    margin-top: 40px;
                }
                &__cartTT{
                    justify-content: left;
                }
            }
        }
    }    
} 
@media screen and (max-width:1024px) {
    .RegisterAccountShip{
        width: 100%;
        margin: auto;
        &__ship{
            display: block;
            &__left{
                max-width: 100%;
                margin-left: 0;
            }
            &__right{
                max-width: 100%;
                margin-left: 0x;
                height: 500px;
                &__checkout{
                    margin-right: 3px;
                    width: auto;
                }
                &__product{
                    margin-top: 40px;
                }
            }
        }
    } 
}
    
