#related {
  display: flex;
  justify-content: center;
}
.contentShop__related {
  margin-bottom: 128px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;

  margin-bottom: 128px;
  &__products {
    margin-top: 125px;
    margin-bottom: 47px;
    h1 {
      color: #101750;
      font-family: "Josefin Sans";
      font-size: 36px;
      font-weight: 700;
    }
  }
  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 39px;
    &__shopfashion {
      p.price {
        color: #151875;
        font-family: "Josefin Sans";
        font-size: 13px;
        font-weight: 500;
      }
      &__img {
        height: 340px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__men {
        &__fashion {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          p {
            color: #151875;
            font-family: "Josefin Sans";
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
