.contentShop__shopgrid {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  width: 100%;
  max-width: 1200px;
  margin: 120px auto;
  &__listitem {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 80px;
    column-gap: 50px;
    @include mobile {
      display: grid;
      grid-template-columns: 98%;
      width: 100%;
    }
    @include tablet {
      display: grid;
      grid-template-columns: 96%;
      width: 100%;
    }
    @include pc {
      display: grid;
      grid-template-columns: 100%;
      width: 100%;
    }
    &__product {
      position: relative;
      height: 410px;
      &__img {
        background: #f6f7fb;
        height: 280px;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          left: 50%;
        }
      }
      &__shopping {
        display: none;
        &__shop {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 5px;
          row-gap: 13px;
          &__cart {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: relative;
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }

      &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 13px;
        h1 {
          color: #151875;
          font-family: "Josefin Sans";
          font-size: 18px;
          font-weight: 600;
          line-height: 1;
          margin-bottom: 8px;
          text-align: center;
          @include mobile {
            text-align: center;
            line-height: 1.5;
            font-size: 14px;
          }
          @include tablet {
            text-align: center;
            line-height: 1.5;
          }
          @include pc {
            text-align: center;
            line-height: 1.5;
          }
        }
        &__color {
          display: flex;
          gap: 6px;
        }
        &__price {
          display: flex;
          gap: 10px;
          p {
            color: #151875;
            font-family: "Josefin Sans";
            font-size: 14px;
            line-height: 3;
          }
          p.sale {
            color: #fb2e86;
            text-decoration-line: line-through;
          }
        }
      }
    }
  }
}
#shopgrid__mobile {
  width: 100%;
  max-width: 1300px;
}
#shopgrid__mobile {
  .slick-track {
    @include mobile {
      display: flex;
      gap: 15px;
    }
    @include tablet {
      display: flex;
      gap: 15px;
    }
    @include pc {
      display: flex;
      gap: 30px;
    }
    display: flex;
    gap: 30px;
  }
}

.contentShop__shopgrid__listitem__product__shopping__shop__cart:hover {
  background: white;
}
.contentShop__shopgrid__listitem__product:hover {
  .contentShop__shopgrid__listitem__product__img {
    background: #ebf4f3;
  }
  .contentShop__shopgrid__listitem__product__shopping {
    display: block;
  }
}
