.contentShop__shopleft {
  max-width: 95%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 210px;
  #shopleft__pc {
    display: flex;
    gap: 40px;
    #shopleft__list {
      .contentShop__shopleft__listproduct {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 28px;
        &__product {
          display: flex;
          gap: 32px;
          width: 100%;
          background: #ffffff;
          box-shadow: 0px 0px 25px 5px rgb(246 246 253 / 50%);
          max-width: 921px;
          gap: 32px;
          height: 230px;
          justify-content: center;
          align-items: center;
          &__img {
            margin-left: 18px;
          }
          &__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__vector {
              display: flex;
              gap: 20px;
              margin-top: 15px;
              &__img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #ffffff;
                box-shadow: 0px 0px 27.6087px rgb(0 0 0 / 5%);
              }
            }
            &__item {
              display: flex;
              align-items: center;
              gap: 2px;
              h1 {
                color: #111c85;
                font-family: "Josefin Sans";
                font-size: 20px;
                font-weight: 700;
                line-height: 2.5;
                width: 100%;
                max-width: 203px;
              }
              &__color {
                display: flex;
                gap: 5px;
              }
            }
            &__price {
              display: flex;
              gap: 9px;
              p {
                font-family: "Josefin Sans";
                font-size: 15px;
                color: #111c85;
              }
              p.sale {
                color: #ff2aaa;
                text-decoration-line: line-through;
              }
              &__rating {
                display: flex;
                align-items: center;
                gap: 5px;
                margin-left: 8px;
              }
            }
            &__description {
              width: 100%;
              max-width: 590px;
              p {
                color: #9295aa;
                font-family: "Lato";
                font-weight: 400;
                font-size: 17.6696px;
                line-height: 31px;
              }
            }
          }
        }
      }
    }
    #shopleft__grid {
      display: flex;
      justify-content: center;
      .contentShop__shopleft__listproduct {
        width: 100%;
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: center;
        row-gap: 28px;
        &__product {
          display: flex;
          gap: 32px;
          width: 100%;
          background: #ffffff;
          box-shadow: 0px 0px 25px 5px rgb(246 246 253 / 50%);
          max-width: 921px;
          gap: 32px;
          height: auto;
          justify-content: center;
          align-items: center;
          &__img {
            margin-left: 18px;
          }
          &__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__vector {
              display: flex;
              gap: 20px;
              margin-top: 15px;
              &__img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #ffffff;
                box-shadow: 0px 0px 27.6087px rgb(0 0 0 / 5%);
              }
            }
            &__item {
              display: flex;
              align-items: center;
              gap: 2px;
              h1 {
                color: #111c85;
                font-family: "Josefin Sans";
                font-size: 20px;
                font-weight: 700;
                line-height: 2.5;
                width: 100%;
                max-width: 203px;
              }
              &__color {
                display: flex;
                gap: 5px;
              }
            }
            &__price {
              display: flex;
              gap: 9px;
              p {
                font-family: "Josefin Sans";
                font-size: 15px;
                color: #111c85;
              }
              p.sale {
                color: #ff2aaa;
                text-decoration-line: line-through;
              }
              &__rating {
                display: flex;
                align-items: center;
                gap: 5px;
                margin-left: 8px;
              }
            }
            &__description {
              width: 100%;
              max-width: 590px;
              p {
                color: #9295aa;
                font-family: "Lato";
                font-weight: 400;
                font-size: 17.6696px;
                line-height: 31px;
              }
            }
          }
        }
      }
    }
  }
  &__sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 44px;
    &__brand {
      &__title {
        h1 {
          font-family: "Josefin Sans";
          font-size: 20px;
          line-height: 30px;
          color: #151875;
          font-weight: 700;
          text-decoration: underline black;
          text-decoration-thickness: 1px;
        }
      }
      &__listbrand {
        display: flex;
        gap: 9px;
        margin-bottom: 10px;
        &__check {
          &__checklist {
            a {
              color: #7e81a2;
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
            }
          }
        }
      }
    }
    &__discount {
      h1 {
        font-family: "Josefin Sans";
        font-size: 20px;
        margin-bottom: 10px;
        color: #151875;
        font-weight: 700;
        text-decoration: underline black;
        text-decoration-thickness: 1px;
      }
    }
    &__rating {
      h1 {
        font-family: "Josefin Sans";
        font-size: 20px;
        margin-bottom: 10px;
        color: #151875;
        font-weight: 700;
        text-decoration: underline black;
        text-decoration-thickness: 1px;
      }
    }
    &__categories {
      h1 {
        font-family: "Josefin Sans";
        font-size: 20px;
        margin-bottom: 10px;
        color: #151875;
        font-weight: 700;
        text-decoration: underline black;
        text-decoration-thickness: 1px;
      }
    }
    &__price {
      h1 {
        font-family: "Josefin Sans";
        font-size: 20px;
        margin-bottom: 10px;
        color: #151875;
        font-weight: 700;
        text-decoration: underline black;
        text-decoration-thickness: 1px;
      }
    }
    &__search {
      display: flex;
      align-items: center;
      margin-top: 18px;
      &__input {
        max-width: 203px;
        height: 31px;
        background: #ffffff;
        border: 1px solid #bcbddb;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
          border: none;
          outline: none;
          width: 79%;
        }
        ::placeholder {
          color: rgba(21, 24, 117, 0.1);
          font-family: "Lato";
          font-weight: 400;
          font-size: 12px;
        }
        &__icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    &__color {
      h1 {
        font-family: "Josefin Sans";
        font-size: 20px;
        margin-bottom: 10px;
        color: #151875;
        font-weight: 700;
        text-decoration: underline black;
        text-decoration-thickness: 1px;
      }
      &__filter {
        display: flex;
        flex-direction: column;
        &__top {
          display: flex;
          gap: 19px;
          &__blue {
            display: flex;
            align-items: center;
            a {
              color: #7e81a2;
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              line-height: 30px;
            }
            img {
              margin-right: 4px;
            }
          }
        }
        &__bottom {
          display: flex;
          gap: 7px;
          &__blue {
            display: flex;
            align-items: center;
            a {
              color: #7e81a2;
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              line-height: 30px;
            }
            img {
              margin-right: 4px;
            }
          }
          &__sky {
            display: flex;
            align-items: center;
            margin-left: 18px;
            a {
              color: #7e81a2;
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              line-height: 30px;
            }
            img {
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
  &__listproduct {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    &__product {
      display: flex;
      gap: 32px;
      width: 100%;
      background: #ffffff;
      box-shadow: 0px 0px 25px 5px rgb(246 246 253 / 50%);
      max-width: 921px;
      gap: 32px;
      justify-content: center;
      align-items: center;
      &__img {
        margin-left: 18px;
      }
      &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__vector {
          display: flex;
          gap: 20px;
          margin-top: 15px;
          &__img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff;
            box-shadow: 0px 0px 27.6087px rgb(0 0 0 / 5%);
          }
        }
        &__item {
          display: flex;
          align-items: center;
          gap: 2px;
          h1 {
            color: #111c85;
            font-family: "Josefin Sans";
            font-size: 20px;
            font-weight: 700;
            line-height: 2.5;
            width: 100%;
            max-width: 203px;
          }
          &__color {
            display: flex;
            gap: 5px;
          }
        }
        &__price {
          display: flex;
          gap: 9px;
          p {
            font-family: "Josefin Sans";
            font-size: 15px;
            color: #111c85;
          }
          p.sale {
            color: #ff2aaa;
            text-decoration-line: line-through;
          }
          &__rating {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-left: 8px;
          }
        }
        &__description {
          width: 100%;
          max-width: 590px;
          p {
            color: #9295aa;
            font-family: "Lato";
            font-weight: 400;
            font-size: 17.6696px;
            line-height: 31px;
          }
        }
      }
    }
  }
}
#shopleft__mobile {
  display: none;
}
.contentShop__shopleft__sidebar__categories__list {
  width: 100px;
}
@media only screen and(max-width:495px) {
  .contentShop__shopleft {
    margin-bottom: 150px;
    margin-top: 70px;
    #shopleft__mobile {
      display: block;
      width: 100%;
    }
    #shopleft__pc {
      display: none;
    }
    &__sidebar {
      display: flex;
      flex-direction: column;
      justify-self: center;
      &__color {
        &__title {
          margin-top: 50px;
        }
      }
      &__brand {
        &__listbrand {
          &__checkimg {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        &__title {
          width: 284px;
          margin: 0 auto;
        }
      }
      &__categories {
        &__title {
          max-width: 269px;
          margin: 0 auto;
        }
      }
      &__rating {
        &__title {
          width: 274px;
          margin: 0 auto;
        }
      }
      &__discount {
        &__title {
          width: 274px;
          margin: 0 auto;
        }
      }
      &__search {
        max-width: 263px;
        margin: 18px auto auto;
      }
      &__price {
        &__title {
          width: 264px;
          margin: 0 auto;
        }
      }
      &__color {
        &__tilte {
          max-width: 260px;
          margin: 0 auto;
        }
      }
    }
    &__listproduct {
      &__product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__title {
          width: 100%;
          max-width: 284px;
        }
      }
    }
  }
}
@media only screen and(min-width:495px) and(max-width:767px) {
  .contentShop__shopleft {
    margin-bottom: 150px;
    #shopleft__mobile {
      display: block;
      width: 100%;
    }
    #shopleft__pc {
      display: none;
    }
    &__sidebar {
      &__color {
        &__tilte {
          margin-top: 30px;
        }
      }
      &__brand {
        &__listbrand {
          &__checkimg {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    &__listproduct {
      &__product {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        &__img {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
@media only screen and(min-width:768px) and(max-width:1245px) {
  .contentShop__shopleft {
    margin-bottom: 150px;
    #shopleft__mobile {
      display: block;
      width: 100%;
    }
    #shopleft__pc {
      display: none;
    }
    &__sidebar {
      &__color {
        &__tilte {
          margin-top: 30px;
        }
      }
      &__brand {
        &__listbrand {
          &__checkimg {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    &__listproduct {
      &__product {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        &__img {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
