.singleblog{
  display: flex;
  justify-content: center;
}
.contentsingle {
  display: flex;
  @include mobile {
    display: block;
    margin: auto;
    max-width: 300px;
    width: 100%;
  }
  @include tablet {
    display: block;
    margin: auto;
    max-width: 500px;
    width: 100%;
  }
}

