.content__top {
  &__categories {
    margin-top: 79px;
    margin-bottom: 56px;
    h1 {
      color: #151875;
      font-family: "Josefin Sans";
      font-size: 42px;
      text-align: center;
    }
  }
  &__mini {
    display: grid;
    grid-template-columns: 1080px;
    align-items: center;
    justify-content: center;
    grid-column-gap: 39px;
    &__LCW {
      &__chair {
        height: 269px;
        width: 100%;
        border-radius: 50%;
        background: #f6f7fb;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          object-fit: cover;
        }
      }
      &__chairone {
        box-shadow: -0.25em 0.25em 0 0 #9877e7;
        height: 269px;
        width: 100%;
        border-radius: 50%;
        background: #f6f7fb;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__price {
        text-align: center;
        color: #151875;
        font-family: "Josefin Sans";
        font-size: 20px;
        margin-top: 21px;
        line-height: 1.8;
        p {
          font-family: "Josefin Sans";
          font-size: 16px;
        }
      }
    }
  }
}
#mobile {
  display: block;
}
.content__top__mini__LCW:hover {
  .content__top__mini__LCW__chairone {
    box-shadow: -0.25em 0.25em 0 0 #9877e7;
  }
  .content__top__mini__LCW__chair {
    box-shadow: -0.25em 0.25em 0 0 #9877e7;
  }
}
@media only screen and(max-width:495px) {
  .content__top__mini {
    display: grid;
    grid-template-columns: 90%;
  }
  .content__top__mini__LCW__chair {
    height: 269px;
    width: 269px;
    margin: 0 auto;
  }
  .content__top__categories {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #mobile {
    display: block;
  }
}
@media only screen and(min-width:496px) and(max-width:767px) {
  .content__top__mini {
    display: grid;
    grid-template-columns: 90%;
  }
  .content__top__categories {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #mobile {
    display: block;
  }
}
@media only screen and(min-width:768px) and(max-width:1275px) {
  .content__top {
    #mobile {
      display: block;
    }
    &__mini {
      grid-template-columns: 95%;
      grid-column-gap: 2%;
      &__LCW {
        &__chairone {
          height: 23%;
          img {
            width: 100%;
          }
        }
        &__chair {
          height: 23%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
