.content__top {
  &__categories {
    margin-top: 79px;
    margin-bottom: 56px;
    @include mobile {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    @include tablet {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    h1 {
      color: #151875;
      font-family: "Josefin Sans";
      font-size: 42px;
      text-align: center;
      font-weight: bold;
    }
  }
  &__mini {
    display: grid;
    grid-template-columns: 1180px;
    align-items: center;
    justify-content: center;
    grid-gap: 40px;
    @include mobile {
      display: grid;
      grid-template-columns: 90%;
    }
    @include tablet {
      grid-template-columns: 95%;
      grid-column-gap: 2%;
    }
    &__LCW {
      padding: 10px;
      &__chair {
        height: 269px;
        width: 100%;
        border-radius: 50%;
        background: #f6f7fb;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @include mobile {
          height: 269px;
          width: 269px;
          margin: 0 auto;
        }
        @include tablet {
          height: 23%;
        }
        @include pc {
          height: 220px;
          width: 100%;
        }
        img {
          object-fit: cover;
          @include tablet {
            width: 100%;
          }
        }
        &__btn{
          position: absolute;
          left: 125px;
          top: 220px;
          display: none;
          @include tablet {
            left: 110px;
            top: 170px;
          }
          @include pc {
            left: 110px;
            top: 170px;
          }
          button{
            background: #08D15F;
            border-radius: 2px;
            width: 94px;
            height: 30px; 
            border: #08D15F;
            color: white;
            font-family: 'Josefin Sans';
            font-size: 12px;
            line-height: 14px;
            transform: translateX(-50%);
          }
          button:hover{
            background: #06ad4e;
          }
        }
      }
      &__chairone {
        box-shadow: -0.25em 0.25em 0 0 #9877e7;
        height: 269px;
        width: 100%;
        border-radius: 50%;
        background: #f6f7fb;
        display: flex;
        align-items: center;
        justify-content: center;
        @include tablet {
          height: 23%;
          img {
            width: 100%;
          }
        }
      }
      &__price {
        text-align: center;
        color: #151875;
        font-family: "Josefin Sans";
        font-size: 20px;
        margin-top: 21px;
        line-height: 1.8;
        p {
          font-family: "Josefin Sans";
          font-size: 16px;
        }
      }
    }
  }
}
#mobile {
  display: block;
  @include mobile {
    display: block;
  }
  @include tablet {
    display: block;
  }
  @include pc {
    width: 100%;
    max-width: 1000px;
    margin-left: 90px;
  }
}
.content__top__mini__LCW:hover {
  .content__top__mini__LCW__chairone {
    box-shadow: -0.25em 0.25em 0 0 #9877e7;
  }
  .content__top__mini__LCW__chair {
    box-shadow: -0.25em 0.25em 0 0 #9877e7;
  }
  .content__top__mini__LCW__chair__btn{
    display: block;
  }
}


